.profile_wrapper{
  width: 25%;
  max-width: 270px;
  margin-left: 25px;
  
  & .img_wrapper {
    border: 1px solid #686868;  
  }

  & .img_wrapper, & .img_wrapper>.profile_avatar{
    width: 100%;
    display: block;
  }
  

  & .profile_user_name,
  & .profile_user_login,
  & .profile_user_bio,
  & .profile_user_location,
  & .profile_user_email,
  & .profile_user_company,
  & .profile_user_blog {
    margin: 0;
    display: flex;
    align-items: center;
  }
  & .profile_user_location,
  & .profile_user_email,
  & .profile_user_company,
  & .profile_user_blog {
    & .profile_text{
      margin-left: 5px;
    }
  }
  
  & .profile_user_name, & .profile_user_bio{
    padding: 14px 0 0 0;
  }

  & .profile_user_name{
    font-size: 26px;
  }
  & .profile_user_login{
    font-size: 20px;
  } 
  & .profile_user_bio{
    font-size: 14px;
  }

}
